<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>	<!--绝对路径,不需要修改-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />	<!--相对路径,需要修改为当前项目下的相对路径-->
	<title>牛客网-首页</title>
</head>
<body>	
	<div class="nk-container">
		<!-- 头部 :  用于完成首页,消息,注册,登录四部分超链接的跳转-->
		<header class="bg-dark sticky-top" th:fragment="header">	<!--通过th:fragment属性,为此<header>标签取名,以便于此头部内容在其他页面可以进行复用-->
			<div class="container">
				<!-- 导航 -->
				<nav class="navbar navbar-expand-lg navbar-dark">
					<!-- logo -->
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- 功能 -->
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" th:href="@{/index}">首页</a>
							</li>
							<!--对于"消息"登陆内容,进行选择性显示(只有登录用户才进行显示,也就是在拦截器中配置的loginUser不为空时)-->
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser!=null}">
								<a class="nav-link position-relative" th:href="@{/letter/list}" >消息
									<span class="badge badge-danger" th:text="${allUnreadCount!=0?allUnreadCount:''}">12</span>
								</a>
							</li>
							<!--只有用户未登录,才显示"注册"超链接文本(即在拦截器中配置的loginUser为空)-->
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/register}">注册</a>
							</li>
							<!--与"注册"同理-->
							<li class="nav-item ml-3 btn-group-vertical" th:if="${loginUser==null}">
								<a class="nav-link" th:href="@{/login}">登录</a>
							</li>
							<!--与“消息”同理,只有用户登录才显示用户头像，以及用户名文本-->
							<li class="nav-item ml-3 btn-group-vertical dropdown" th:if="${loginUser!=null}">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img th:src="${loginUser.headerUrl}" class="rounded-circle" style="width:30px;"/>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" th:href="@{|/user/profile/${loginUser.id}|}">个人主页</a>
									<a class="dropdown-item text-center" th:href="@{/user/setting}">账号设置</a>
									<a class="dropdown-item text-center" th:href="@{/logout}">退出登录</a><!--退出后,此超链接请求执行后会重定向到登陆页面-->
									<!--退出后凭证ticket失效(status=1),则不会持有User对象,也不会在postHandle()中将User存储在MV中,则此处loginUser为空,此处不显示-->
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary" th:utext="${loginUser.username}">用户名</span>
								</div>
							</li>
						</ul>
						<!-- 搜索功能 -->
						<!--该表单提交的请求方式为get,提交请求路径为th:action-->
						<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}">
							<!--name="keyword"指定该文本框中参数的name,与控制器中接受的参数名需要一致
								th:value="${keyword}"会得到上次在文本框输入的值
									type="submit" 点击搜索文本,即可提交此表单请求-->
							<input class="form-control mr-sm-2" type="search" aria-label="Search" name="keyword" th:value="${keyword}"/>
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">搜索</button>
						</form>
					</div>
				</nav>
			</div>
		</header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<div class="position-relative">
					<!-- 筛选条件 -->
					<ul class="nav nav-tabs mb-3">
						<li class="nav-item">
							<a class="nav-link active" href="#">最新</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">最热</a>
						</li>
					</ul>
					<!--我要 发布按钮:只有当前用户登陆才进行显示,即使用th:if="${loginUser != null}-->
					<button type="button" class="btn btn-primary btn-sm position-absolute rt-0" data-toggle="modal" data-target="#publishModal" th:if="${loginUser != null}">我要发布</button>
				</div>
				<!--点击上方我要 发布(发布帖子)按钮后,即跳转到此弹出框id="publishModal"-->
				<!-- 弹出框 -->
				<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="publishModalLabel">新帖发布</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form>
									<!--在发布按钮对应的ajax请求事件中通过id获取标题和正文的内容,ajax请求访问服务器路径时携带-->
									<div class="form-group">
										<label for="recipient-name" class="col-form-label">标题：</label>
										<input type="text" class="form-control" id="recipient-name">
									</div>
									<div class="form-group">
										<label for="message-text" class="col-form-label">正文：</label>
										<textarea class="form-control" id="message-text" rows="15"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<!--发布按钮绑定的ajax请求为id="publishBtn",此请求包含在页面底部加载的<script th:src="@{js/index.js}"></script> js文件中
										在index.js中对ajax请求进行完善-->
								<button type="button" class="btn btn-primary" id="publishBtn">发布</button>
							</div>
						</div>
					</div>
				</div>
				<!--发布成功后需要显示的提示框,用于显示是否发布成功等信息,该提示框显示也在index.js文件中的函数内,在发布按钮点击后,弹出框关闭,加载提示框-->
				<!-- 提示框 -->
				<div class="modal fade" id="hintModal" tabindex="-1" role="dialog" aria-labelledby="hintModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="hintModalLabel">提示</h5>
							</div>
							<div class="modal-body" id="hintBody">
								发布完毕!
							</div>
						</div>
					</div>
				</div>
				
				<!-- 帖子列表:对数据进行循环输出 -->
				<ul class="list-unstyled">
					<li class="media pb-3 pt-3 mb-3 border-bottom" th:each="map:${discussPosts}">
										<!--表示对当前标签内容为循环输出,循环输出discussPosts集合,集合中的每个数据都是一个map对象(变量名)-->
						<a th:href="@{|/user/profile/${map.user.id}|}">
							<!--显示用户头像:即用户的headUrl属性-->
							<img th:src="${map.user.headerUrl}" class="mr-4 rounded-circle" alt="用户头像" style="width:50px;height:50px;">
						</a>
						<div class="media-body">
							<h6 class="mt-0 mb-3">
								<!--动态显示帖子标题:${map.post.title},超链接表示转到帖子内容,此处暂未设置,#可切换到页面底部
										th:utext可以将文本中的转义字符进行转义(即<显示为<),而th:text中的转义字符不会显示(<显示为&lt;)
										帖子标题链接:连接到控制器方法,点击即显示帖子详情页detail.html,并且需要动态传入当前帖子的id,即为map.post.id(链接和路径中加入||)-->
								<a th:href="@{|/discuss/detail/${map.post.id}|}" th:utext="${map.post.title}">备战春招，面试刷题跟他复习，一个月全搞定！</a>
								<!--只有当前帖子的类型为置顶/精华,才显示置顶/精华 文字
										即使用th:if标签,只有标签内逻辑成立,才显示该文本-->
								<span class="badge badge-secondary bg-primary" th:if="${map.post.type==1}">置顶</span>
								<span class="badge badge-secondary bg-danger" th:if="${map.post.status==1}">精华</span>
							</h6>
							<div class="text-muted font-size-12">
								<!--使用th:utext动态显示帖子的作者名,如果获取到值则会覆盖寒江雪,否则不会覆盖
											在th:text标签内使用#dates.format工具,将帖子发布时间获取后进行格式化,指定格式显示-->
								<u class="mr-3" th:utext="${map.user.username}">寒江雪</u> 发布于 <b th:text="${#dates.format(map.post.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 15:32:18</b>
								<ul class="d-inline float-right">
									<!--此处点赞和回帖功能:动态显示当前帖子赞的数量-->
									<li class="d-inline ml-2">赞 <span th:text="${map.likeCount}">11</span></li>
									<li class="d-inline ml-2">|</li>
									<!--获取当前帖子map.post的评论总数commentCount-->
									<li class="d-inline ml-2">回帖 <span th:text="${map.post.commentCount}">7</li>
								</ul>
							</div>
						</div>						
					</li>
				</ul>
				<!-- 首页的分页逻辑处理(可以直接在其他页面进行复用,通过th:fragment="pagination"标签) -->
					<!--只有查询到存在数据时才进行显示-->
				<nav class="mt-5" th:if="${page.rows>0}" th:fragment="pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item">
							<!--此处设置首页文本的超链接:即跳转到current=1页面,Thymeleaf语法中,会自动将()转换为? ,转化为&,此处limit不设置则默认为10
									此处点击首页超链接,跳转到page的path属性设置的界面,即当前界面index.html
													或者直接将${page.path}变为index即可,即可跳转到index.html页面-->
							<a class="page-link" th:href="@{${page.path}(current=1)}">首页</a>
						</li>
						<li th:class="|page-item ${page.current==1?'disabled':''}|">	<!--如果当前页为第一页,则表示上一页不生效-->
							<!--上一页文本的链接即为:当前页的页码-1-->
							<a class="page-link" th:href="@{${page.path}(current=${page.current-1})}">上一页</a></li>
						<li th:class="|page-item ${i==page.current?'active':''}|" th:each="i:${#numbers.sequence(page.from,page.to)}">
							<!--使用active,表示如果i为当前页的页码,则将i点亮显示,否则不点亮-->
							<!--使用numbers.sequence工具,设置分页导航中的具体页码,可以返回由起始数字-终止数字组成的序列,使用变量i引用该数字-->
							<a class="page-link" href="#" th:text="${i}">1</a>
						</li>
						<li th:class="|page-item ${page.current==page.total?'disabled':''}|">	<!--如果当前页为最后一页,则表示下一页不生效-->
							<!--下一页文本的链接即为:当前页的页码+1-->
							<a class="page-link" th:href="@{${page.path}(current=${page.current+1})}">下一页</a>
						</li>
						<li class="page-item">
							<!--设置首页文本的超链接:即跳转到-->
							<a class="page-link" th:href="@{${page.path}(current=${page.total})}">末页</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark">
			<div class="container">
				<div class="row">
					<!-- 二维码 -->
					<div class="col-4 qrcode">
						<img src="https://uploadfiles.nowcoder.com/app/app_download.png" class="img-thumbnail" style="width:136px;" />
					</div>
					<!-- 公司信息 -->
					<div class="col-8 detail-info">
						<div class="row">
							<div class="col">
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link text-light" href="#">关于我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">加入我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">意见反馈</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">企业服务</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">联系我们</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">免责声明</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-light" href="#">友情链接</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<ul class="nav btn-group-vertical company-info">
									<li class="nav-item text-white-50">
										公司地址：北京市朝阳区大屯路东金泉时代3-2708北京牛客科技有限公司
									</li>
									<li class="nav-item text-white-50">
										联系方式：010-60728802(电话)&nbsp;&nbsp;&nbsp;&nbsp;admin@nowcoder.com
									</li>
									<li class="nav-item text-white-50">
										牛客科技©2018 All rights reserved
									</li>
									<li class="nav-item text-white-50">
										京ICP备14055008号-4 &nbsp;&nbsp;&nbsp;&nbsp;
										<img src="http://static.nowcoder.com/company/images/res/ghs.png" style="width:18px;" />
										京公网安备 11010502036488号
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{js/index.js}"></script>
</body>
</html>
